*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .base{
    height: 200px;
    width: 300px;
    position: relative;
    display: flex;
      justify-content: center;
  }
.letter{
    height: 0px;
    width: 0px;
    border-top: 100px solid red;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    transition: all 1s;
    transform-origin: 0px 0px;
    position: absolute;
    z-index: 6;
  }
  .letter:hover{
    animation: open 1s linear forwards;
    z-index: 1;
  }
@keyframes open {
    to{
      transform: rotateX(180deg);
    }
  }
  .letter:hover ~ .paper{
    animation: show 1s 1s linear forwards;
  }
  @keyframes show {
    to{
      transform: translateY(-80px);
    }
  }
  .cover{
    position: absolute;
    z-index: 3;
    top: 0;
    height: 0px;
    width: 0px;
    border-top: 200px solid transparent;
  }
  .cover-left{
    border-left: 300px solid rgb(200,0,0);
  }
  .cover-right{
    border-right: 300px solid rgb(200,0,0);
  }
  .paper{
    height: 200px;
    width: 280px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    z-index: 2;
    transition: all 1s 1s;
    box-shadow: 0px 0px 2px black;
  }
  h3{
    padding: 1em 0 0 1em;
  }
  h4{
    text-align: center;
  }
  p{
    text-align: right;
    padding-right: 1em;
  }